/* media queries */

@media screen and (max-width:600px) {
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: lemon;
  }
    head {
       display: none;
   }
   html {
   font-size: 20px;
}
body {
   width: 100vw;
   position: relative;
   max-width: 100%;
}
.Navigation-section{
   display: block;
   position: relative;
   grid-area: header;
}
.backimo {
   background-image: url( bluematrix.png);
   width: 100%;
   height: 100%;
   display: flex;
   background-position: center;
   position: relative;
   background-size: 500px;
}
#headpic{
   width: 30%;
   height: auto;
   opacity: 0;
}
#name {
   position: absolute;
   font-style: italic;
   font-family: Lemon, sans-serif;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-size: 100%;
}
.All-navs{
   position: absolute;
   top: 0;
   right: 0;
   font-size: 23px;
}
a {
   text-decoration: none;
}
.navs {
   display: inline;
   position: relative;
   padding: 0px 20px 0px 20px;
   justify-content: center;
   font-family: lemon;
   font-style: italic;
   font-weight: bold;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
}
#slogan{
   position: absolute;
   text-align: justify;
   top: 20%;
   left: 30%;
   font-size: 2vw;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Gloria Hallelujah', cursive !important;
   max-width: 100vw;
}
.subtitles {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
   margin-top: 0px;
}
.subtitles2 {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
}
#Focus {
   margin-left: 35%;
   font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100vw;
    animation: move-text;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
} 
@keyframes move-text {
   from {width: 0;}
    
}
main{
   display: block;
   background-image: linear-gradient(#051d72, white);
  
   align-content: center;
   
   font-family: 'Aladin', cursive;
}

.brand {
   grid-area: main; 
   justify-content: center;
   text-align: match-parent;
   width: 97vw;
   margin: 0;
}
p{
   font-size: 35px;
   text-align: justify;
}
.myBtn {
   text-align: center;
   width: 50%;
   font-size: 50px;
   height: auto;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   
}
#lifecodes{
   font-size: 35px;
   text-align: center;
   opacity: 0;
}
img {
   width: 350px;
   height: 350px;
}
.codes {
   grid-area: sidebar;
   justify-content: center;
   width: 100%;
   margin: 0;
} 
footer{
   grid-area: footer;
   display: inline-flex;
   flex-wrap: wrap;
   max-width: 100%;
   position: relative;
   background-image: linear-gradient(white, #051d72);
}
.copyright{
   bottom: 0; 
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
   font-size: 60%;
   margin-top: 0;
}
.SML-container{
   width: 100vw;
   text-align: center;
}
.SML-container img {
   display: inline-flex;
   flex-wrap: nowrap;
   width: 100px;
   height: 100px;
   margin: 20px;
}
@keyframes shake {
   10%, 90% {
       transform: translate3d(-1px, 0, 0);
     }
     
     20%, 80% {
       transform: translate3d(2px, 0, 0);
     }
   
     30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
     }
   
     40%, 60% {
       transform: translate3d(4px, 0, 0);
     }
}
#footer-linkedin-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
   
}
#footer-github-logo {
   display: inline-block;
   animation-name: shake;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    
   
}
#footer-instagram-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
   
}
#footer-twitter-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
}
.signature {
   font-size: 35px;
   text-align: center;
   width: 100vw;
   margin: 10px;
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
}

} 
@media screen and (min-width:601px) and (max-width:991px){
      
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: lemon;
  }
    head {
       display: none;
   }
   html {
   font-size: 20px;
}
body {
   position: relative;
   width: 100%;
   max-width: 100%;
}
.Navigation-section{
   display: block;
   position: relative;
   grid-area: header;
}
.backimo {
   background-image: url( bluematrix.png);
   width: 100%;
   height: 100%;
   display: flex;
   background-position: center;
   position: relative;
   background-size: 500px;
}
#headpic{
   width: 30%;
   height: auto;
   opacity: 0;
}
#name {
   position: absolute;
   font-style: italic;
   font-family: Lemon, sans-serif;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-size: 100%;
   width: 100%;
}
.All-navs{
   position: absolute;
   top: 0;
   right: 0;
   font-size: 30px;
   margin: 0;
}
a {
   text-decoration: none;
}
.navs {
   display: inline;
   position: relative;
   padding: 0px 20px 0px 20px;
   justify-content: center;
   font-family: lemon;
   font-style: italic;
   font-weight: bold;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
}

#slogan{
   position: absolute;
   text-align: justify;
   top: 20%;
   left: 30%;
   font-size: 2vw;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Gloria Hallelujah', cursive !important;
   max-width: 100vw;
   
}
.subtitles {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
   margin-top: 0;
}
.subtitles2 {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
}
#Focus {
   margin-left: 35%;
   font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100vw;
    width: 50vw;
    animation: move-text;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
} 
@keyframes move-text {
   from {width: 0;}
    
}
main{
   display: block;
   background-image: linear-gradient(#051d72, white);
   align-content: center;
   font-family: 'Aladin', cursive;
}

.brand {
   grid-area: main; 
   justify-content: center;
   text-align: match-parent;
   width: 97vw;
   margin: 0;
}
p{
   font-size: 35px;
   text-align: justify;
}
.myBtn {
   text-align: center;
   width: 50%;
   font-size: 50px;
   height: auto;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   margin-left: 25%;
   
}
#lifecodes{
   font-size: 35px;
   text-align: center;
   opacity: 0;
}
img {
   width: 350px;
   height: 350px;
}
.codes {
   grid-area: sidebar;
   justify-content: center;
   width: 100%;
   margin: 0;
} 
footer{
   grid-area: footer;
   display: inline-flex;
   flex-wrap: wrap;
   max-width: 100%;
   position: relative;
   background-image: linear-gradient(white, #051d72);
}
.copyright{
   bottom: 0; 
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
   font-size: 60%;
   margin-top: 0;
}
.SML-container{
   width: 100vw;
   text-align: center;
}
.SML-container img {
   display: inline-flex;
   flex-wrap: nowrap;
   width: 100px;
   height: 100px;
   margin: 20px;
}
@keyframes shake {
   10%, 90% {
       transform: translate3d(-1px, 0, 0);
     }
     
     20%, 80% {
       transform: translate3d(2px, 0, 0);
     }
   
     30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
     }
   
     40%, 60% {
       transform: translate3d(4px, 0, 0);
     }
}
#footer-linkedin-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
}
#footer-github-logo {
   display: inline-block;
   animation-name: shake;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
   
}
#footer-instagram-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
}
#footer-twitter-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
}
.signature {
   font-size: 35px;
   text-align: center;
   width: 100vw;
   margin: 10px;
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
}
.footer-link {
   animation: shake 2s ease-in; 
   animation-iteration-count: infinite;
}
@keyframes shake {
   0% {
       transform: translate(0);
   }

20%,
40%,
60%,
80%{
   transform:translate(.8em);
   box-shadow: 0px 6px 20px black;
}
10%,
30%,
50%{
   transform: translate(-2.em);
}
70%,
100%{
   transform: translate(0);
}  
   
}
}
 @media screen and (min-width:992px) and (max-width:1199px) {
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
head {
    display: none;
}
html {
   font-size: 20px;
}
body {
   width: 100vw;
   position: relative;
   max-width: 100%;
   
}
.Navigation-section{
   display: block;
   position: relative;
   grid-area: header;
}
.backimo {
   background-image: url( bluematrix.png);
   width: 100%;
   height: 100%;
   display: flex;
   background-position: center;
   position: relative;
   background-size: 500px;
}
#name {
   position: absolute;
   font-style: italic;
   font-family: Lemon, sans-serif;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   width: 100%;
}
#headpic {
   opacity: 0;
}
.All-navs{
   position: absolute;
   top: 0;
   right: 30px;
   font-size: 1cm;
   justify-content: center;
}
a {
   text-decoration: none;
}
.navs {
   display: inline;
   position: relative;
   padding: 0px 30px 0px 30px;
   justify-content: center;
   font-family: lemon;
   font-style: italic;
   font-weight: bold;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
}
#slogan{
   position: absolute;
   text-align: justify;
   display: inline;
   top: 25%;
   left: 40%;
   font-size: 100%;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Gloria Hallelujah', cursive !important;
}
.subtitles {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
}
.subtitles2 {
   font-style: italic;
   color: white;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   font-family: 'Euphoria Script', cursive;
   font-size: 2cm;
   text-align: center;
   padding-top: 30px;
}
#Focus {
   margin-left: 35%;
   font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100vw;
    width: 50vw;
    animation: move-text;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
} 
@keyframes move-text {
  from {width: 0;}
   
}
main{
   display: flex;
   background-image: linear-gradient(#051d72, white);
   justify-content: space-between;
   align-content: center;
   grid-gap: 5vw;
   font-family: 'Aladin', cursive; ;
}
.brand {
   grid-area: main; 
   justify-content: center;
   text-align: match-parent;
   margin: 10px;
   width: 100vw;
}
#logobrand {
   width: 350px;
   height: 350px;
   position: absolute;
}
p{
   font-size: 35px;
}
.myBtn {
   text-align: center;
   width: auto;
   font-size: 50px;
   height: auto;
   -webkit-text-stroke: 1px #ffffff;
   text-shadow: 3px 3px #4069fd;
   margin-left: 30%;
}
#lifecodes{
   font-size: 35px;
   opacity: 0;
}
img {
   width: 350px;
   height: 350px;
}
.codes {
   grid-area: sidebar;
   justify-content: center; 
   width: 100vw;
   margin: 10px;
  
}
footer{
   grid-area: footer;
   display: inline-flex;
   flex-wrap: wrap;
   max-width: 100%;
   position: relative;
   background-image: linear-gradient(white, #051d72);
}
.copyright{
   bottom: 0;
   position: absolute;
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
}
.SML-container{
   width: 100vw;
   text-align: center;
}
.SML-container img {
   display: inline-flex;
   flex-wrap: nowrap;
   width: 100px;
   height: 100px;
   margin: 20px;
}
@keyframes shake {
   10%, 90% {
       transform: translate3d(-1px, 0, 0);
     }
     
     20%, 80% {
       transform: translate3d(2px, 0, 0);
     }
   
     30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
     }
   
     40%, 60% {
       transform: translate3d(4px, 0, 0);
     }
}
#footer-linkedin-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
   
}
#footer-github-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
}
#footer-instagram-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   
}
#footer-twitter-logo {
   display: inline-block;
   animation-name: shake;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
}
.signature {
   font-size: 35px;
   text-align: center;
   width: 100vw;
   margin: 10px;
   color: white;
   -webkit-text-stroke: 1px #051d72;
   text-shadow: 3px 3px #4069fd;
} 
.footer-link {
   animation: shake 2s ease-in; 
   animation-iteration-count: infinite;
}
@keyframes shake {
   0% {
       transform: translate(0);
   }

20%,
40%,
60%,
80%{
   transform:translate(.8em);
   box-shadow: 0px 6px 20px black;
}
10%,
30%,
50%{
   transform: translate(-2.em);
}
70%,
100%{
   transform: translate(0);
}  
   
}
} 